
.topbar-center-logo {
    background: #000033;
    padding-top:20px;
    padding-bottom:20px;
  }
  
  .topbar-center-logo .menu {
    background: #000033;
  }
  
  .topbar-center-logo .menu a {
    color: #fefefe;
  }
  
  .topbar-center-logo .top-bar-center {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-center-logo .top-bar-center {
      display: none;
    }
  }
  
  .topbar-center-logo-mobile {
    background: #000033;
  }
  
  .topbar-center-logo-mobile .menu-icon {
    vertical-align: text-top;
  }
  
.foodmenu{
  background: black;
  color:white;
  }

.fatfooter{
  background: #000033;
  padding: 10px;

}

.address {
  text-decoration: unset;
  color: #fefefe;
}

#menutitle{
  margin-top: -70px;

}





/* Main Page Code BEGIN - Debug */


#logo {
  width: 26%;
}

ol {
  list-style: none;
}

#listone li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: inline-block;
  position: relative;
  left: 1000px;

}


h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;

}


p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

.phone {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}

#listtwo {
  position: static;
  margin: auto;
  width: 50%;
  padding: 50px;
}

#listtwo li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

#socialmedia li {
  list-style: none;
  display: inline;
}

#yelp {
  width: 5%;
}

#fb {
  width: 5%;
}

#twitter {
  width: 5%;
}

#instagram {
  width: 5%;
}


/* Main Page Code END - Debug */